In [ ]:
# Importing required libraries

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

Actors,actress plays a crucial role in any movie so need to add this attributes in India_Dataset and US_Dataset.For this purpose, we are using our previously processed "preprocessed_2.csv" file.

In [ ]:
Preprocess2=pd.read_csv('Dataset/preprocessed_2.csv')

In [ ]:
Preprocess2

             tconst  ordering  ...         category           primaryName
0         tt0000001         1  ...             self            Carmencita
1         tt7513040         2  ...  archive_footage            Carmencita
2         tt0000001         2  ...         director  William K.L. Dickson
3         tt0000005         3  ...         director  William K.L. Dickson
4         tt0000006         1  ...         director  William K.L. Dickson
...             ...       ...  ...              ...                   ...
47523910  tt9916856         3  ...            actor        Andreas Demmel
47523911  tt9916856         4  ...          actress       Kathrin Knöpfle
47523912  tt9916856         5  ...         director      Johan Planefeldt
47523913  tt9916856         6  ...           writer      Johan Planefeldt
47523914  tt9916856         7  ...         composer        Farahnaz Hatam

[47523915 rows x 5 columns]

In [ ]:
temp=Preprocess2[['tconst','category','primaryName']]

In [ ]:
temp

             tconst         category           primaryName
0         tt0000001             self            Carmencita
1         tt7513040  archive_footage            Carmencita
2         tt0000001         director  William K.L. Dickson
3         tt0000005         director  William K.L. Dickson
4         tt0000006         director  William K.L. Dickson
...             ...              ...                   ...
47523910  tt9916856            actor        Andreas Demmel
47523911  tt9916856          actress       Kathrin Knöpfle
47523912  tt9916856         director      Johan Planefeldt
47523913  tt9916856           writer      Johan Planefeldt
47523914  tt9916856         composer        Farahnaz Hatam

[47523915 rows x 3 columns]

In [ ]:
temp['category'].value_counts()

actor                  10698264
self                    8270934
actress                 8125831
writer                  6349738
director                5505085
producer                3013187
composer                1672690
cinematographer         1671922
editor                  1583450
production_designer      333207
archive_footage          296795
archive_sound              2812
Name: category, dtype: int64

In [ ]:
temp.category.unique()

array(['self', 'archive_footage', 'director', 'cinematographer', 'actor',
       'producer', 'composer', 'editor', 'writer', 'actress',
       'production_designer', 'archive_sound'], dtype=object)

In [ ]:
# Filtering data for different categories 

temp_actor=temp[(temp['category']=='actor')] 
temp_actress=temp[(temp['category']=='actress')]
temp_director=temp[(temp['category']=='director')]
temp_writer=temp[(temp['category']=='writer')]
temp_composer=temp[(temp['category']=='composer')]
temp_producer=temp[(temp['category']=='producer')]

In [ ]:
actor=temp_actor.groupby('tconst')['primaryName'].apply(list)
actress=temp_actress.groupby('tconst')['primaryName'].apply(list)
director=temp_director.groupby('tconst')['primaryName'].apply(list)
writer=temp_writer.groupby('tconst')['primaryName'].apply(list)
composer=temp_composer.groupby('tconst')['primaryName'].apply(list)
producer=temp_producer.groupby('tconst')['primaryName'].apply(list)

In [ ]:
actor

tconst
tt0000005             [Charles Kayser, John Ott]
tt0000007     [James J. Corbett, Peter Courtney]
tt0000008                             [Fred Ott]
tt0000009    [William Courtenay, Chauncey Depew]
tt0000011                              [Grunato]
                            ...
tt9916848            [Onur Adiguzel, Anil Altan]
tt9916850            [Onur Adiguzel, Anil Altan]
tt9916852            [Onur Adiguzel, Anil Altan]
tt9916856                       [Andreas Demmel]
tt9916880           [Wayne Forester, Aidan Cook]
Name: primaryName, Length: 4255946, dtype: object

In [ ]:
for i in range(len(actor)):
    actor[i]=list(set(actor[i]))

for i in range(len(actress)):
    actress[i]=list(set(actress[i]))

for i in range(len(director)):
    director[i]=list(set(director[i]))

for i in range(len(writer)):
    writer[i]=list(set(writer[i]))
  
for i in range(len(composer)):
    composer[i]=list(set(composer[i]))

for i in range(len(producer)):
    producer[i]=list(set(producer[i]))

In [ ]:
actor=pd.DataFrame(actor)
actress=pd.DataFrame(actress)
director=pd.DataFrame(director)
writer=pd.DataFrame(writer)
composer=pd.DataFrame(composer)
producer=pd.DataFrame(producer)

In [ ]:
actor.rename(columns={'primaryName':'Actors'},inplace=True)
actress.rename(columns={'primaryName':'Actress'},inplace=True)
director.rename(columns={'primaryName':'Director'},inplace=True)
writer.rename(columns={'primaryName':'Writer'},inplace=True)
composer.rename(columns={'primaryName':'Composer'},inplace=True)
producer.rename(columns={'primaryName':'Producer'},inplace=True)

Saving this data for future use.

In [ ]:
actor.to_csv('Dataset/Actors.csv')

In [ ]:
actress.to_csv('Dataset/Actress.csv')

In [ ]:
director.to_csv('Dataset/Directors.csv')

In [ ]:
writer.to_csv('Dataset/Writers.csv')

In [ ]:
composer.to_csv('Dataset/Composers.csv')

In [ ]:
producer.to_csv('Dataset/Producers.csv')