In [ ]:
# Importing required libraries

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [ ]:
name_basics_data=pd.read_csv("Dataset/name_basics_data.tsv", sep='\t')

**name_basics_data.tsv** - Contains the following information for names:

1.   nconst (string) - alphanumeric unique identifier of the name/person
2.   primaryName (string) – name by which the person is most often credited
3.   birthYear – in YYYY format		
4.   deathYear – in YYYY format if applicable, else '\N'
5.   primaryProfession (array of strings) – the top-3 professions of the person
6.   knownForTitles (array of tconsts) – titles the person is known for

In [ ]:
name_basics_data

             nconst  ...                           knownForTitles
0         nm0000001  ...  tt0031983,tt0072308,tt0050419,tt0053137
1         nm0000002  ...  tt0037382,tt0117057,tt0038355,tt0071877
2         nm0000003  ...  tt0057345,tt0056404,tt0054452,tt0049189
3         nm0000004  ...  tt0072562,tt0080455,tt0078723,tt0077975
4         nm0000005  ...  tt0050976,tt0060827,tt0083922,tt0050986
...             ...  ...                                      ...
11359930  nm9993714  ...                     tt2455546,tt11657662
11359931  nm9993716  ...                                       \N
11359932  nm9993717  ...                                tt8736744
11359933  nm9993718  ...                                       \N
11359934  nm9993719  ...                                       \N

[11359935 rows x 6 columns]

Storing ncosnt and primaryName in name_mapping.csv for future use in project.

In [ ]:
name=name_basics_data[["nconst","primaryName"]]

In [ ]:
name.to_csv('Dataset/name_mapping.csv',index=False)

In [ ]:
# Checking number of null valuues in name_basics_data

name_basics_data.isnull().sum()

nconst                     0
primaryName                0
birthYear                  0
deathYear                  0
primaryProfession    2459072
knownForTitles             0
dtype: int64

In [ ]:
title_principals_data=pd.read_csv("Dataset/title_principals_data.tsv", sep='\t')

**title_principals_data.tsv** - Contains the principal cast/crew for titles:

1.   tconst (string) - alphanumeric unique identifier of the title
2.   ordering (integer) – a number to uniquely identify rows for a given titleId
3.   nconst (string) - alphanumeric unique identifier of the name/person		
4.   category (string) - the category of job that person was in
5.   job (string) - the specific job title if applicable, else '\N'
6.   characters (string) - the name of the character played if applicable, else '\N'

In [ ]:
title_principals_data

             tconst  ordering  ...                      job        characters
0         tt0000001         1  ...                       \N          ["Self"]
1         tt0000001         2  ...                       \N                \N
2         tt0000001         3  ...  director of photography                \N
3         tt0000002         1  ...                       \N                \N
4         tt0000002         2  ...                       \N                \N
...             ...       ...  ...                      ...               ...
47545537  tt9916880         4  ...                       \N  ["Horrid Henry"]
47545538  tt9916880         5  ...       principal director                \N
47545539  tt9916880         6  ...                       \N                \N
47545540  tt9916880         7  ...                    books                \N
47545541  tt9916880         8  ...                 producer                \N

[47545542 rows x 6 columns]

In [ ]:
# Checking number of null valuues in title_principals_data

title_principals_data.isnull().sum()

tconst        0
ordering      0
nconst        0
category      0
job           0
characters    0
dtype: int64

In [ ]:
# Merging both files 

merged_data=pd.merge(title_principals_data,name_basics_data,on=["nconst"])

In [ ]:
# Shape of merged dataframe

merged_data.shape

In [ ]:
merged_data

In [ ]:
merged_data.isnull().sum()

In [ ]:
# Saving merged data into preprocessed_1.csv file for further use

merged_data.to_csv('Dataset/preprocessed_1.csv')